

body {
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.hoverbtn {
  transition: all;
  transition-duration: 0.4s;
  transition-delay: 0.2s;
  transform: scale(1);
  color:red;
}

.hoverbtn:hover {
  font-size: 20px;
}



